

.container {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: none;
}

.pumpkin img {
	border-radius: 0;
}


section.intro, section.contact {
	border-radius: 0;
}


aside.right, aside.left {
	text-align: center;
	float: inherit;
	padding: 10px;
	margin: 10px auto;
}

iframe {
	width: 100%;
}

h1 {
	font-size: 2rem;
}

